<h3>Lessons List</h3>
<div class="course-list">
    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="10px">
        @for ( lesson of lessons;track lesson.id) {

        <mat-grid-tile>
            <mat-card class="lesson-card">
                <mat-card-header>
                    <mat-card-title>
                        <mat-icon class="icon">menu_book</mat-icon> {{ lesson.title }} (ID: {{ lesson.id }})
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{ lesson.content }}</p>
                </mat-card-content>
                <mat-card-actions>
                    @if(authService.isTeacher==true)
                    {
                    <button mat-raised-button color="primary" class="mat-button" (click)="updateLesson(lesson)">
                        <mat-icon>edit</mat-icon> Update
                    </button>
                    <button mat-raised-button color="warn" class="mat-button" (click)="deleteLesson(lesson)">
                        <mat-icon>delete</mat-icon> Delete
                    </button>
                    }
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>

        }
    </mat-grid-list>

    @if(authService.isTeacher==true)
    {
    <div class="add-lesson-btn">
        <button mat-raised-button color="primary" class="mat-button" (click)="AddLesson()">
            <mat-icon>add_circle_outline</mat-icon> Add Lesson
        </button>
    </div>
    }
</div>
